.footer-links a.active {
    color: #4eb478 !important;
    font-weight: bold;
    /* text-decoration: underline; */
}
.contact .email-form {
    background-color: #f4f4f4;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
    padding: 25px;
  }

  @media (max-width: 575px) {
    .contact .email-form {
      padding: 15px;
    }
  }

  .contact .email-form input[type=text],
  .contact .email-form input[type=email],
  .contact .email-form textarea {
    font-size: 13px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    background-color: #f9f9f9;
  }

  .contact .email-form input[type=text]:focus,
  .contact .email-form input[type=email]:focus,
  .contact .email-form textarea:focus {
    border-color: #6c63ff;
  }

  .contact .email-form input[type=text]::placeholder,
  .contact .email-form input[type=email]::placeholder,
  .contact .email-form textarea::placeholder {
    color: #999;
  }

  .contact .email-form button[type=submit] {
    color: #fff;
    background: #6c63ff;
    border: none;
    padding: 8px 25px;
    transition: background-color 0.3s ease;
    border-radius: 3px;
  }

  .contact .email-form button[type=submit]:hover {
    background: #6058e6;
  }

